global
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    pidfile /run/haproxy/haproxy.pid

defaults
    mode http
    timeout client 5s
    timeout server 5s
    timeout connect 5s

frontend stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s

frontend fe_main
    bind *:8080
    default_backend be_app

backend be_app
    server s1 127.0.0.1:9090 check

userlist dataplaneapi
    user admin insecure-password admin
